###############################
###### REQUIRED ENV VARS ######
###############################

# LOCAL DEVELOPMENT
DATABASE_HOST=localhost
DATABASE_USERNAME=voidhash
DATABASE_PASSWORD=password
DATABASE_NAME=voidhash

# AUTH
ROOT_USERNAME=root
ROOT_PASSWORD=changeme

# CLUSTER
CLUSTER_RUNNER_HOST=localhost
CLUSTER_RUNNER_PORT=50000
