###############################
###### REQUIRED ENV VARS ######
###############################

# LOCAL DEVELOPMENT
DATABASE_HOST=localhost
DATABASE_USERNAME=voidhash
DATABASE_PASSWORD=password
DATABASE_NAME=voidhash
# Managed MySQL providers often require TLS.
# DATABASE_SSL=true
# DATABASE_SSL_CA_PATH=/absolute/path/to/ca.pem
# DATABASE_SSL_CERT_PATH=/absolute/path/to/client-cert.pem
# DATABASE_SSL_KEY_PATH=/absolute/path/to/client-key.pem
# DATABASE_SSL_VERIFY_IDENTITY=true
# DATABASE_SSL_REJECT_UNAUTHORIZED=true

# AUTH
ROOT_USERNAME=root
ROOT_PASSWORD=password

# CLUSTER
CLUSTER_RUNNER_HOST=localhost
CLUSTER_RUNNER_PORT=50000
